INFRA/data/cityscapes_512x1024_val.tar.gz filter=lfs diff=lfs merge=lfs -text
/INFRA/data/cityscapes_1024x512_val.tar.gz filter=lfs diff=lfs merge=lfs -text
cityscapes_1024x512_val.tar.gz filter=lfs diff=lfs merge=lfs -text
